<li>
    <a href="#"><i class="fa fa-sort-amount-asc"></i><span class="nav-label">Solicitud de EPP</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="@Url.Action("OrdenSalida", "OrdenSalida")">Petición de EPP</a></li>
        <li><a href="@Url.Action("ListadoSalidas", "OrdenSalida")">Listar Pedidos</a></li>
    </ul>
</li>
