@model UCSC.Models.Carrera

<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Eliminar Carrera</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <input type="hidden" id="id_carrera" name="id_carrera" value="@Model.id_carrera" />
            <h2>¿Desea eliminar la carrera @Model.nombre_carrera ?</h2>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <input type="button" id="eliminar_carrera" value="Eliminar" class="btn btn-primary" />
        </div>
        @*</form>*@
    </div>
</div>


<script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    $('#eliminar_carrera').click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Delete")',
            data: '{id:' + JSON.stringify($('#id_carrera').val()) + '}',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (resp) {
                if (resp == '') {
                    swal({
                        title: 'Eliminar Carrera',
                        text: 'Se ha eliminado con éxito el registro',
                        icon: 'success',
                        button: 'Cerrar',
                        closeOnClickOutside: false,
                    }).then(function (isConfirm) {
                        if (isConfirm) {
                            location.reload();
                        }
                    });

                } else {
                    swal("Eliminar", resp, "error");
                }
            }
        });
    });
</script>



