
@model UCSC.Models.TipoUsuario
<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Detalle Tipo de Usuario</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form action="@Url.Action("Edit","TipoUsuario")" method="post">
            <!-- Modal body -->
            <div class="modal-body">
                <input type="hidden" name="id_tipo" value="@Model.id_tipo" />
                <label> Nombre:</label>
                <input type="text" name="nombre" value="@Model.nombre" class="form-control" />
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

