<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-title">
                <h3>Ingrese Datos solicitados:</h3>
            </div>
            <div class="ibox-content">

                <div class="modal-body">
                    <input type="hidden" id="usuariopide" value=@int.Parse(Session["idusuario"].ToString()) />

                </div>

                <div class="form-group row">
                    <label class="col-sm-1">Personal que entrega: </label>
                    <div class="col-sm-3">
                        <input type="text" name="user_entrega" class="form-control" id="user_entrega" />
                    </div>


                    <label class="col-sm-1">Centro Clinico: </label>
                    <div class="col-sm-3">
                        <input type="text" name="ubicacion" class="form-control" id="ubicacion" />
                    </div>

                </div>

                <div class="form-group row">
                    <label class="col-sm-1">Carrera: </label>
                    <div class="col-sm-3">
                        @Html.DropDownList("carrera", null, "Seleccione Carrera", htmlAttributes: new { @class = "form-control select2" })
                    </div>

                    <label class="col-sm-1">Periodo Uso: </label>
                    <div class="col-sm-3">
                        <input type="text" name="periodo" class="form-control" id="periodo" />
                    </div>

                </div>

                <div class="form-group row">
                    <label class="col-sm-1">Cantidad de alumnos: </label>
                    <div class="col-sm-3">
                        <input type="number" min="0" name="cantidadalumno" class="form-control" id="cantidadalumno" />
                    </div>

                    <label class="col-sm-1">Cantidad de Docentes: </label>
                    <div class="col-sm-3">
                        <input type="number" min="0" name="cantidaddocentes" class="form-control" id="cantidaddocentes" />
                    </div>



                </div>

                <div class="form-group row">


                    <label class="col-sm-1">Fecha solicitada: </label>
                    <div class="col-sm-4">
                        <input id="datepicker" width="360" high="20" />
                        <script>
                            $('#datepicker').datepicker({
                                uiLibrary: 'bootstrap4'

                            });
                        </script>

                    </div>

                </div>


                <hr />

                <div class="ibox-title">
                    <h3>Ingrese EPP solicitados:</h3>
                </div>
                <hr />

                <div class="form-group row">
                    <label class="col-sm-1">Nombre: </label>
                    <div class="col-sm-3">
                        @Html.DropDownList("epp", null, "Seleccione EPP", htmlAttributes: new { @class = "form-control select2" })

                    </div>
                    <label class="col-sm-1">Cantidad: </label>
                    <div class="col-sm-3">
                        <input type="number" min="0" name="cantidad" class="form-control" id="cantidad" />
                    </div>

                </div>
                <div class="form-group row ">
                    <div class="col-sm-4"></div>
                    <div>
                        <input type="button" id="agregar" value="Agregar" class="btn btn-primary " />
                    </div>

                </div>

                <div>
                    <hr>
                </div>
                <div id="tablaEPP" class="form-group row">
                    <hr />
                    <div class="table-responsive">
                        <table id="detalleEPP" class="table">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody> </tbody>
                        </table>
                    </div>

                </div>
                <div>
                    <hr>
                    <div class="form-group row">
                        <label class="col-sm-1">Comentario</label>
                        <div class="col-sm-7">
                            <input type="text" id="comentario" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-sm-4"></div>
                        <div>
                            <input type="button" id="guardar" value="Guardar" class="btn btn-success" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        format: "dd MM yyyy",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
</script>

<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>

<link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
<script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/plugins/daterangepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" crossorigin="anonymous"></script>


<script>
    let datos = [];
    let id_epp = 0;
    let nombre = '';

    $('.select2').select2();

    $('#agregar').click(function () {

        let error = '';
        if ($('#epp').val().trim() == '')
            error = 'Debe ingresar un producto \n';
        console.log(error);
        if ($('#cantidad').val() <= 0)
            error += 'Debe ingresar cantidad de EPP';
        if (error != '')
            swal('Error', error, 'warning');
        else {
            let modelo = {
                id_epp: $('#epp').val().trim(),
                nombre: $('#epp option:selected').text(),
                cantidad: $('#cantidad').val()
            };

            let x = 0;

            if (datos.length > 0) {

                for (let i = 0; i < datos.length; i++) {
                    if (datos[i].id_epp == modelo.id_epp) {
                        datos[i].cantidad = modelo.cantidad;
                        x = 1;
                        break;
                    }
                }
                if (x == 0) {
                    datos.push(modelo);
                }
            }
            else {
                datos.push(modelo);
            }

            cargarTablaDetalle();
            limpiar();
        }
        function cargarTablaDetalle() {
            $('#detalleEPP tbody').empty()
            for (let i = 0; i < datos.length; i++) {
                fila = '<tr>';
                fila += '<td>' + datos[i].id_epp + '</td>';
                fila += '<td>' + datos[i].nombre + '</td>';
                fila += '<td>' + datos[i].cantidad + '</td>';
                fila += "<td><button class='btn btn-danger eliminar'><span class='fa fa-trash'></span></button>";
                fila += '</tr>';
                $('#detalleEPP tbody').append(fila);
                eliminar();
            }
        }

        function eliminar() {
            $('.eliminar').click(function () {

                //obtener el código de la fila donde se presiona el botón de trash
                let cod = $(this).parents('tr').find('td').eq(0).html();
                for (let i = 0; i < datos.length; i++) {
                    if (datos[i].id_epp == cod) {
                        datos.splice(i, 1);//splice sirve para sacar elementos del arreglo
                    }
                }
                //llamar a función cargar tabla para recargar el arreglo en la tabla
                cargarTablaDetalle();
                //si la cantidad de elementos que hay en la tabla es == 0 la oculta

            });
        }

        function limpiar() {
            $('#cantidad').val('');
            $('#epp').val('');
            $('#epp').select2("val", "");
        }

    });

    $('#guardar').click(function () {
        //validación de datos

        let error = '';

        let fechacapturada = $('#datepicker').datepicker({ format: 'dd-mm-yyyy' });
        var arregloFecha = fechacapturada.val().split("-");
        var anio = arregloFecha[2];
        var mes = arregloFecha[1] - 1;
        var dia = arregloFecha[0];
        var fecha = new Date(anio, mes, dia);
        var newDateTime = moment(fechacapturada.val(),"MM-DD-YYYY");

        if (arregloFecha == '') {
            error += 'Ingrese fecha \n';
        }
        if (newDateTime < new Date($.now())) {
            error += 'Ingrese fecha superior a la de hoy \n';
        }
        if ($('#ubicacion').val().trim() == '') {
            error += 'Campo Clinico no puede estar vacio\n'
        }
        if ($('#carrera').val() == '') {
            error += 'Carrera no puede estar vacio\n'
        }
        if ($('#periodo').val().trim() == '') {
            error += 'Periodo de uso no puede estar vacio\n'
        }
        if ($('#cantidadalumno').val() == '') {
            error += 'Cantidad de Alumnos no puede estar vacio \n'
        }
        if ($('#cantidaddocentes').val() == '') {
            error += 'Cantidad Docentes no puede estar vacio \n'
        }


        if (datos.length == 0)
            error += 'Debe agregar productos';
        if (error != '')
            swal('Error', error, 'warning');
        else {
            const ordenSalida = {
                ubicacion: $('#ubicacion').val(),
                id_carrera: $('#carrera').val(),
                user_pide: $('#usuariopide').val(),
                periodo_uso: $('#periodo').val(),
                cant_alumnos: $('#cantidadalumno').val(),
                fecha_requerida: newDateTime,
                cant_docentes: $('#cantidaddocentes').val(),
                comentario: $('#comentario').val()

            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("OrdenSalida")',
                data: '{orden:' + JSON.stringify(ordenSalida) + ',detalles:' + JSON.stringify(datos) + '}',
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (resp) {
                    if (resp == '') {
                        swal({
                            title: 'Ingreso',
                            text: 'Los datos se han guardado con éxito!',
                            icon: 'success',
                            button: 'Cerrar',
                            closeOnClickOutside: false,
                        }).then(function (isConfirm) {
                            if (isConfirm) {
                                location.reload();//recarga la página
                            }
                        });
                    }
                    else {
                        swal({
                            title: 'Ingreso',
                            text: 'Error, alguno de los EPP no tiene stock suficiente',
                            icon: 'error',
                            button: 'Cerrar',
                            closeOnClickOutside: true,
                        })
                    }
                }

            });
        }
    });


</script>
