
@{
    Layout = null;
}
@model IEnumerable<UCSC.Models.OrdenSalida>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consulta estado</title>
    <link href="~/Content/BootstrapLogin.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/app/inspinia.js"></script>
    <script src="~/Scripts/plugins/pace/pace.min.js"></script>


</head>
<body>
    <div>

        <!------ Include the above in your HEAD tag ---------->

        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <!-- Icon -->

                <div class="fadeIn first">
                    <img src="https://i.ibb.co/HnMSrgQ/descarga.jpg" id="icon" alt="User Icon" />
                </div>

                <!-- Login Form -->
                <form method="post" action="@Url.Action("PopupEstadoConsulta","OrdenSalidas")">
                    <h4><span class="label label-default">Ingrese numero de Pedido: </span></h4>
                    <input type="text" id="id_pedido" class="fadeIn second" name="id_pedido" placeholder="Por ejemplo: 1111">

                    <div>
                        <button class="btn btn-primary" data-toggle="modal">

                            <i class="fa fa-edit"></i> Consultar
                        </button>
                    </div>
                    <div>

                    </div>


                </form>

                <!-- Remind Passowrd -->


            </div>
        </div>

    </div>
</body>
</html>



<script src="~/Scripts/plugins/moment.min.js"></script>


<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>

<div class="modal fade" id="modalEdit"></div>

<script>
    $('.btn-warning').click(function () {



        $.get(url, function (data) {
            
            $('#modalEdit').modal('show');
        });
    });
</script>

