
@{
    ViewBag.Title = "OrdenEntrada";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="~/Scripts/plugins/gijgo.min.js" type="text/javascript"></script>

    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

</head>

<div class="row wrapper border-bottom white-bg page-heading">

    <h2>Solicitud de EPP</h2>
</div>




@if (Session["tipoUsuario"] != null)
{

    if (Session["tipoUsuario"].Equals("Administrador"))
    {
        @Html.Partial("_PeticionAdmin")
    }
    if (Session["tipoUsuario"].Equals("Encargado"))
    {
        @Html.Partial("_PeticionAdmin")
    }
    if (Session["tipoUsuario"].Equals("Usuario"))
    {
        @Html.Partial("_PeticionUser")
    }
}
else
{
    Response.Redirect("~/Usuarios/Login");
}