
@{
    ViewBag.Title = "Agregar EPP";
}

@if (Session["tipoUsuario"].Equals("Usuario"))
{
    Response.Redirect("~/OrdenSalidas/OrdenSalida");
}


<div class="row wrapper border-bottom white-bg page-heading">
    <h2>Crear EPP</h2>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-title">
                <h3>Ingrese los datos del EPP a crear</h3>
            </div>
            <div class="ibox-content">

                <div class="form-group row">
                    <label class="col-2 text-right">Nombre:</label>
                    <div class="col-10">
                        <input type="text" name="nombre" id="nombre" class="form-control form-control-sm" />
                        <input type="hidden" id="usuario" value=@int.Parse(Session["idusuario"].ToString()) />
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-2 text-right">Categoría:</label>
                    <div class="col-10">
                        <!--Helper de razor para select -->
                        @Html.DropDownList("categoria", null, "Seleccione Categoría", htmlAttributes: new { @class = "form-control select2" })
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-2 text-right">Comentario:</label>
                    <div class="col-10">
                        <textarea name="comentario" id="comentario" class="form-control form-control-sm"></textarea>
                    </div>
                </div>
                <div class="text-center">
                    <input type="button" value="Limpiar" id="limpiar" class="btn btn-secondary" />
                    <input type="button" value="Guardar" id="guardar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- sweetalert permite mostrar alertas más glamorosas -->
<link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
<script>
    //expresión relugar para permitir sólo números positivos
    $('.solonumeros').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });
    //select2
    $('.select2').select2();

    $('#guardar').click(function (e) {
        e.preventDefault();
        let error = '';

        if ($('#nombre').val().trim() === '')
            error += 'Debe ingresar nombre \n';

        if ($('#categoria').val() === '')
            error += 'Debe ingresar categoria \n';
        if ($('#usuario').val() === '')
            error += 'Debe ingresar usuario \n';

        if (error != '') {
            swal('Error validación', error, 'error');
        }
        else
        {
            const data = {

                nombre: $('#nombre').val().trim(),
                cantidad: "0",
                comentario: $('#comentario').val().trim(),
                id_categoria: $('#categoria').val(),
                id_usuario: $('#usuario').val(),
                id_estado: "5"


            }
            //se enviarán los datos al controlador a través de ajax
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create")',
                data: '{epp:' + JSON.stringify(data) + '}',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (ok) {
                    if (ok === '') {
                        swal({
                            title: 'Creación EPP',
                            text: 'Los datos se han guardado con éxito!',
                            icon: 'success',
                            button: 'Cerrar',
                            closeOnClickOutside: false,
                        }).then(function (isConfirm) {
                            if (isConfirm) {
                                location.reload();//recarga la página

                            }
                        });
                    } else {
                        swal('Error', ok, 'error');
                    }
                }
            });
        }
    });
    $('#limpiar').click(function () {


        limpiar();
    });

    //verificar si el código existe, blur sirve cuando pierde el foco el input
    $('#codigo').blur(function () {
        if ($('#codigo').val().trim() !== '') {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CodigoExiste")',
                data: '{codigo:' + JSON.stringify($('#codigo').val()) + '}',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (ok) {
                    if (ok !== '') {
                        swal('El producto existe ' + ok, '', 'warning');
                        $('#codigo').val('');
                        $('#codigo').focus();//focus sirve para dejar seleccionado el input
                    }
                }
            });
        }
    });

    function limpiar() {

        $('#nombre').val('');
        $('#categoria').select2("val", "");
        $('#comentario').val('');


    }
</script>



